@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"  );
body{
    margin: 0;
    font-family:'Merriweather', Courier, monospace;
}   

.sign-in {
    position: relative;
    /* border-radius: 4px; */
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    height: 70px;
    float: right;
  }
  
  .sign-in span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .sign-in span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .sign-in:hover span {
    padding-right: 25px;
  }
  
  .sign-in:hover span:after {
    opacity: 1;
    right: 0;
  }
.nav-elements li{
    list-style-type: none;
    margin-top: 20px;
}
 

nav input {
    margin: 10px 10px 10px 10px;
    border: 0;
    height: 30px;

}


input :focus {
    border-color: inherit;
    outline: none;
    box-shadow: none;
}

.topnav i {

    margin: 10px 10px 10px 10px;
    height: 20px;
    width: auto;

}
 

.dropdown {
    display: inline;
    position: absolute;
    right: 0;
}

.dropdown-content {
    letter-spacing: 1px;
    font-weight: 900;
    padding: 10px;
    border-radius: 20px;
    top: 50px;
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    border-radius: 20px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown:hover .avatarmenu {
    background-color: #3e8e41;
}




body::-webkit-scrollbar {
    width: 0
}

.bodycontent {
    display: flex;
    position: relative;

}

#subtitle {

    padding-top: 50px;
    font-size: 3em;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    margin: 0;

}

.text-on-image {
    margin: 0;
    top: 45%;
    filter: blur(0);
    left: 15%;
    position: absolute;
    width: 600px;
    background-color: rgba(0,0,0,0.65);
    height: 200px;
}
 
.text-on-image p {
    position: absolute;
    font-style: italic;
    top: 12%;
    left: 10%;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    color: white;
    text-shadow: 2px;
}

#parallaxSlider {
    position: relative;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0rem;

    height: 50vh;
    width: 100%;
    overflow: hidden;
}

#img_track {
    display: flex;
    gap: 4vmin;
    user-select: none;
    left: 45%;
}

#parallaxSlider #img_track .image {
    width: 35vmin;
    height: 40vmin;
    object-fit: cover;
    object-position: 100% center;
    /* opacity: 1; */
}

#parallaxSlider #img_track .image:hover   {
    opacity: 1;
}



.topnav a{
    position: relative;
    right: 0;
    /* top: 50%; */
    color: black;
    padding-left: 50px;
    /* padding: 20px; */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    /* height: 100%; */
}
.topnav a:hover{
    box-shadow: inset 0 1px 1px ;
}

 
.nav-button{
    margin: 10px 65px;
    padding: 12px 17px 12px 17px;
    position: relative;
    color: white;
    background-color: #373737;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 1px 4px gray;
    transition: all .2s;
    top: 200px;
}

 
.topnav h2 {
    /* position: relative; */
    /* top: 50%; */
    padding-left: 70px;
    padding-right: 1%;
    /* padding-bottom: 0; */
    font-size: 4em;
    display: inline;
    letter-spacing: 1px;
}

#maincontent {
    font-size: 1.1em;

    margin-left: 5%;
    margin-top: 1%;
    width: 80%;
    padding-right: 60px;
    /* border-right: 2px  solid rgb(165, 157, 157); */
}

#maincontent p {
    font-size: 1.1em;

}

#maincontent h6 {
    padding-left: 10px;
    margin-top: 0;
    letter-spacing: 2px;
    padding-top: 0;
    color: rgb(142, 142, 137);
}

#sidecontent {
    padding-top: 5%;
    position: relative;
    padding: 20;
    width: 30%;
    z-index: -1;

}

.text {
    letter-spacing: 1px;
}

.sidebox {
    z-index: -1;
    border-radius: 5px;
    box-shadow: -1px 1px 5px teal;
    width: 90%;
    padding-right: 2%;
    height: 90%;
    background-color: rgb(255, 255, 251);
}

.sidebox h2 {
    text-align: center;
    padding-top: 60px;
}

.text {
    padding: 1%;
    padding-right: 3%;
}

body h1 {
    font-size: 4em;
}

#maincontent .text .frontImg {
    position: absolute;
    top: 26%;
}

#para1 {
    position: relative;
    padding-left: 350px;
}


#mainimage {
    background-image: url("https://c1.wallpaperflare.com/preview/201/893/181/grinder-industry-steel-machine.jpg");
    width: auto;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 690px;
    min-height: 100%;
    background-position: 0 0;
    position: relative;
}

footer {
    box-shadow: 1px 1px 6px 3px rgba(209, 204, 204, 0.5);

}

table {
    /* width: 80%; */
    padding: 10px;
    position: relative;
    left: 25%;
    object-position: right;
    text-align: left;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;

}


#signbutton{
    position: absolute;
    right: 100px;
}

#navigation {
    position: sticky;
    top: 0;
    height: 70px;
    background: #262626;
    z-index: 1;
  }
  
  .brand {
    position: absolute;
    padding-left: 10px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-container {
 
    max-width: 1000px;
    margin: 0 auto;
  }
  
  nav {
    float: right;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }
  
 #services{
    position: relative;
    align-items: center;
    height: 95vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 8px -4px rgb(100, 101, 102);
     
 }

.servicelist{
    position: relative;
}
.readmore{
    width: 100%;
    height: 20%;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.65);
    position: relative;
    bottom: 0;
}
.readmore p{
    position: relative;
    margin: 0;
 top: 40%;

}
 
 
 
#about{
    height: 85vh;
    font-size: 2em;
    padding: 30px;
    background-color: rgba(0,0,0,0.85);
    display: grid;
    align-content: center;
    position: relative;
    place-items: center;
    color: white;
    box-shadow: 0 8px 8px -4px rgb(69, 71, 72);
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-30px);
    transition: all 1s;
}

.show{
opacity: 1;
filter: blur(0);
transform: translateX(0);
}

#progress{
    height: 85vh;
    font-size: 2em;
    padding: 30px;
    background-color: rgba(0,0,0,0.65);
    display: grid;
    align-content: center;
    position: relative;
    place-items: center;
    color: white;
    box-shadow: 0 8px 8px -4px rgb(69, 71, 72);
}

#portfolio{
    height: 85vh;
    font-size: 2em;
    padding: 30px;
    background-color: rgba(0,0,0,0.25);
    align-content: center;
    position: relative;
    place-items: center;
    color: white;
    box-shadow: 0 8px 8px -4px rgb(69, 71, 72);
}
.job  {
    display:inline-flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    /* position: relative; */
    flex-flow: row wrap;
}
.job img{
    transform: rotate(20px);
    width: 50vh;
    height: 60vh;
}

.info{
    background-color: #f4511e;
    padding: 15px 10px 15px 10px;
    position: absolute;
    top: 50%;
    left: 28%;
    /* display: none; */
}
.info a{
    text-decoration: none;
    color: white;

}

.image:hover + .info{
    display: block;
}

 