<nav aria-label="breadcrumb" style="float:left;padding:10px;text-decoration:none;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Order History</li>
    </ol>
</nav>
<div class="filter-buttons">
  <button class="filter-btn filter-by-date"  ng-click="tableData = sortDate('desc')">
    <i class="fa fa-calendar"></i>
    Filter by Date
  </button>
  <button class="filter-btn filter-by-status">
    <i class="fa fa-filter"></i>
    Filter by Status
  </button>
</div>
<div class="search-container" > 
  <input type="text" placeholder="Search Quotation Number...">
  <button type="submit"><i class="fa fa-search"></i></button>
</div>


<table style="width:80vw;transform: translate(-15vw,15vh);" class="table table-hover" >
 
  <thead>
    <tr>
      <th scope="col"><button >Quotation # <i class="fa fa-filter"></i></button> </th>
      <th scope="col"><button ng-click="sortDate()">Date</button></th>
      <th scope="col"><button>Job Description</button></th>
      <th scope="col"><button>Location</button></th>
      <th scope="col"><button>Quotation status</button></th>
    </tr>
  </thead>
  <tbody>
    <tr  ng-repeat="x in tableData track by $index">
      <th scope="row">{{$index}}</th>
      <td>{{getTime(x.time)}}</td>
      <td>{{x.problemDescription}}</td>
      <td>{{x.address.city}}</td>
      <td>{{x.quotation.status}}</td>
      <td><button class="delete-button-table" style="border: none; " ng-click="deleteRequest(x._id)">
        <i class="fas fa-trash" ></i>
      </button></td>
    </tr>
 
  </tbody>
</table>
 


 