<section id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Pricing</h2>
          <p>We offer a range of mechanical equipment and plant engineering services at competitive prices. Please see our pricing chart below:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Basic</h3>
            <div class="price">
              <span class="currency">$</span>
              <span class="amount">50</span>
              <span class="period">/hour</span>
            </div>
            <ul>
              <li>General consulting</li>
              <li>Site surveys</li>
              <li>Equipment selection</li>
              <li>Cost estimating</li>
            </ul>
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Standard</h3>
            <div class="price">
              <span class="currency">$</span>
              <span class="amount">75</span>
              <span class="period">/hour</span>
            </div>
            <ul>
              <li>Basic services</li>
              <li>Design engineering</li>
              <li>Project management</li>
              <li>Commissioning support</li>
            </ul>
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Premium</h3>
            <div class="price">
              <span class="currency">$</span>
              <span class="amount">100</span>
              <span class="period">/hour</span>
            </div>
            <ul>
              <li>Standard services</li>
              <li>Mechanical analysis</li>
              <li>Design optimization</li>
              <li>Advanced project management</li>
            </ul>
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  