<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="test.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul class="item-list">
    <li class="item">
      <img src="item1.jpg" alt="Item 1">
      <h3>Item 1</h3>
    </li>
    
    <li class="item">
      <img src="item2.jpg" alt="Item 2">
      <h3>Item 2</h3>
    </li>
    
    <li class="item">
      <img src="item3.jpg" alt="Item 3">
      <h3>Item 3</h3>
    </li>
    
    <li class="item">
      <img src="item4.jpg" alt="Item 4">
      <h3>Item 4</h3>
    </li>
  </ul>
  
</body>
</html>