#service-list .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #service-list  .item {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
  
  #service-list  .item img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  #service-list  .item h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }
  

  .success-widget {
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
    z-index: 2005;
    top:30vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: 10px;
    height: 20vh;
    left:35vw;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #00b894;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .icon-container i {
    font-size: 48px;
    color: #fff;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
  }
  
  .text-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-container p {
    font-size: 16px;
    color: #333;
  }
  

  .loading-line {
    position: absolute;
    width: 30vw;
    height: 2px;
    bottom: 5px;
    background-color: #ddd;
  }
  
  .line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #333;
    animation: loading 3s linear forwards;
  }
  
  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in-visible {
    opacity: 1;
  }

 
  .controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  button {
    margin: 0 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ccc;
  }
  